# Binários e Compilação
*.o
*.obj
*.exe
bin/
build/
turne

# Scripts locais de ambiente
powershell.bat

# IDEs e Ferramentas de Sistema
.vscode/
.idea/
*.swp
.DS_Store
*.log

# Exceção para arquivos de teste
!data/entrada.in
!data/saida.out